.container {
  width: 90vw;
  background-color: #222831;
  min-height: 100vh;
  color: rgb(236, 232, 232);
}

.player_select_container {
  display: flex;
  justify-content: space-evenly;
  margin: 20px;
}
